[v-cloak] {
    display: none;
}

#account-switcher-app {
    border-bottom: solid 2px black;
    margin-bottom: 5px;
    padding: 5px;
}

#register {
    display: none;
}

#register.visible {
    display: block;
}

.tab {
    display: none;
}

.tab.visible {
    display: block;
}

.field {
    display: block;
}

.user {
    display: block;
}